* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  text-decoration: none;
  border: none;
  list-style-type: none;
  outline: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

@font-face {
  font-family: daysreg;
  src: url(../assets/fonts/DaysOne-Regular.ttf);
}
@font-face {
  font-family: jost;
  src: url(../assets/fonts/Jost.ttf);
}
@font-face {
  font-family: lolyhunter;
  src: url(../assets/fonts/jolly-lodger-cyrillic.otf);
}
body {
  background-color: #222222;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-container {
  width: 35%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.signup-container .Logo {
  width: 20%;
  height: 20%;
}

.signup-card {
  background: #222222;
  border-radius: 12px;
  padding: 40px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}
.signup-card h1 {
  font-size: 24px;
  font-weight: 400;
  font-family: "daysreg";
  color: white;
  margin-bottom: 30px;
  text-align: center;
  line-height: 1.4;
}
.signup-card .form-group {
  margin-bottom: 20px;
}
.signup-card .form-group label {
  display: block;
  font-weight: 500;
  font-family: "jost";
  color: white;
  margin-bottom: 8px;
  font-size: 14px;
}
.signup-card .form-group input {
  width: 100%;
  padding: 12px 16px;
  border: 1px solid #ddd;
  font-family: "jost";
  font-weight: 500;
  color: white;
  background-color: #222222;
  border-radius: 18px;
  font-size: 16px;
  box-sizing: border-box;
}
.signup-card .next-btn {
  width: 100%;
  background-color: white;
  color: black;
  border: none;
  padding: 14px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 500;
  font-family: "jost";
  margin-top: 10px;
  cursor: pointer;
}
.signup-card .divider {
  display: flex;
  align-items: center;
  margin: 20px 0;
  color: #777;
}
.signup-card .divider::before, .signup-card .divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ddd;
}
.signup-card .divider .divider-text {
  padding: 0 12px;
  color: white;
  font-family: "josy";
}
.signup-card .google-btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: #222222;
  border: 1px solid #ddd;
  padding: 12px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
.signup-card span {
  color: white;
  font-family: "jost";
  font-weight: 400;
}
.signup-card .login-link {
  text-align: center;
  color: #808080;
  margin-top: 20px;
  font-size: 14px;
}
.signup-card .login-link a {
  color: white;
  font-weight: 600;
  text-decoration: none;
}

header {
  width: 100%;
  display: flex;
  padding: 20px 400px;
  justify-content: space-between;
  align-items: center;
}
header .nav {
  display: flex;
  align-items: center;
  gap: 20px;
}
header .nav input {
  width: 100%;
  padding: 14px 16px;
  border: 2px solid #535353;
  font-family: "jost";
  font-weight: 500;
  color: white;
  background-color: #121212;
  border-radius: 33px;
  font-size: 16px;
  box-sizing: border-box;
  transition: all 0.3s ease;
}
header .nav input::-moz-placeholder {
  color: #b3b3b3;
  font-weight: 400;
}
header .nav input::placeholder {
  color: #b3b3b3;
  font-weight: 400;
}
header ul {
  display: flex;
  padding: 0px 20px;
  gap: 20px;
}
header ul .divider {
  width: 1px;
  color: #fff;
}
header ul a {
  font-family: "daysreg";
  color: #fff;
  font-size: 20px;
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
}
section .block {
  width: 100%;
  padding: 80px 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 60px;
}
section .block p {
  font-family: "daysreg";
  font-size: 20px;
  color: #fff;
}
section .container {
  width: 100%;
  padding: 80px 400px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
section .container h1 {
  font-family: "jost";
  font-size: 44px;
  color: #fff;
}
section .container .textbox {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section .container .textbox p {
  font-family: "lolyhunter";
  font-size: 60px;
  color: #fff;
}
section .container .bot-con {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
section .container .bot-con .card {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
section .container .bot-con .card p {
  font-family: "jost";
  font-size: 20px;
  text-align: center;
  color: #fff;
}
section .sub {
  width: 100%;
  padding: 80px 400px;
  display: flex;
  background-color: #fff;
  justify-content: space-between;
}
section .sub p {
  font-family: "jost";
  font-size: 40px;
  font-weight: 600;
}
section .sub button {
  padding: 20px 40px;
  background-color: #222222;
  border-radius: 20px;
  color: #fff;
  font-family: "jost";
  font-size: 24px;
}
section .con {
  width: 100%;
  padding: 80px 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 60px;
}
section .con h1 {
  font-family: "jost";
  font-size: 44px;
  color: #fff;
}
section .con .bot {
  width: 100%;
  display: flex;
  padding: 0px 60px;
  gap: 60px;
}
section .con .bot .card-music {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
section .con .bot .card-music .music {
  display: flex;
  flex-direction: column;
}
section .con .bot .card-music .music h1 {
  font-size: 20px;
}
section .con .bot .card-music .music p {
  font-family: "jost";
  font-size: 20px;
  color: #808080;
}
section .con .bot .card-music .music .date {
  display: flex;
  gap: 10px;
  align-items: center;
}
section .con .bot .card-music .music .date img {
  height: 2px;
}
section .con-two {
  width: 100%;
  padding: 80px 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
section .con-two .name-text {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section .con-two .name-text h1 {
  font-family: "jost";
  font-size: 44px;
  color: #fff;
}
section .con-two .name-text p {
  font-size: 32px;
  font-family: "jost";
  color: #fff;
}
section .con-two .music-con {
  display: flex;
  gap: 10px;
  padding: 10px 10px;
}
section .con-two .music-con .left-con {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 10px;
}
section .con-two .music-con .left-con .muss {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section .con-two .music-con .left-con .muss .lol {
  height: 80px;
  display: flex;
  gap: 10px;
  align-items: center;
}
section .con-two .music-con .left-con .muss .lol .kapec {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  padding: 4px 4px;
}
section .con-two .music-con .left-con .muss .lol .kapec p {
  font-family: "jost";
  font-size: 20px;
  color: #fff;
}
section .con-two .music-con .left-con .muss .lol img {
  height: 100%;
}
section .con-two .music-con .left-con .muss .lol .info {
  display: flex;
  flex-direction: column;
  gap: 0px;
}
section .con-two .music-con .left-con .muss .lol .info .aaa {
  display: flex;
}
section .con-two .music-con .left-con .muss .lol .info .aaa p {
  font-family: "jost";
  font-size: 20px;
  color: #fff;
  font-weight: 500;
}
section .con-two .music-con .left-con .muss .lol .info p {
  font-family: "jost";
  font-size: 20px;
  color: #808080;
  font-weight: 500;
}
section .con-two .music-con .left-con .muss p {
  font-family: "jost";
  font-size: 18px;
  color: #808080;
  font-weight: 500;
}

footer {
  width: 100%;
  display: flex;
  padding: 40px 400px;
  background-color: #fff;
}
footer .foot {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer .foot .b {
  display: flex;
}
footer .foot .b img {
  width: 50%;
  height: 50%;
}
footer .foot .b .c {
  display: flex;
  justify-content: center;
  gap: 80px;
  padding: 12px 20px;
}
footer .foot .b .c .d {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .foot .b .c .d a {
  white-space: nowrap;
  color: #222222;
  font-family: "jost";
  font-size: 20px;
  font-weight: 500;
}
footer .foot .e {
  display: flex;
  gap: 10px;
}
footer .foot .e img {
  width: 60px;
  height: 60px;
}

section .block1 {
  padding: 40px 400px;
  display: flex;
  flex-direction: row;
  gap: 40px;
}
section .block1 .tt {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
section .block1 .tt .pp {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
section .block1 .tt .pp p {
  font-family: "jost";
  font-size: 20px;
  color: #CCCCCC;
}
section .block1 .tt .pp h1 {
  font-family: "jost";
  font-size: 64px;
  color: #fff;
}
section .ff {
  width: 100%;
  padding: 0px 400px;
}
section .ff .con-twor {
  padding: 10px 48px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  background-color: #0D0D0D;
}
section .ff .con-twor .musor {
  padding: 10px 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
section .ff .con-twor .musor .mus {
  display: flex;
  justify-content: space-between;
}
section .ff .con-twor .musor .mus .sum {
  width: 50%;
  gap: 10px;
  display: flex;
}
section .ff .con-twor .musor .mus .sum p {
  color: #848484;
  font-family: "jost";
  font-size: 20px;
}
section .ff .con-twor .musor .mus .sum .o {
  color: #fff;
}
section .ff .con-twor .musor .mus .sim p {
  color: #848484;
  font-family: "jost";
  font-size: 20px;
}

section .cont {
  padding: 40px 400px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
section .cont .text {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
section .cont .text h1 {
  font-size: 64px;
  font-family: "daysreg";
  color: #fff;
}
section .cont .text p {
  font-size: 40px;
  font-family: "daysreg";
  color: #fff;
}
section .cont .conta {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
section .cont .conta input {
  padding: 20px 40px;
  border-radius: 18px;
  font-size: 24px;
  font-family: "jost";
}
section .cont .conta .cart {
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: #fff;
  padding: 20px 40px;
  gap: 10px;
  border-radius: 10px;
}
section .cont .conta .cart p {
  font-size: 24px;
  font-family: "jost";
  font-weight: 500;
}
section .texcon {
  padding: 40px 400px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
section .texcon h1 {
  font-size: 64px;
  font-family: "jost";
  font-weight: 700;
  color: #fff;
}
section .texcon .pro {
  display: flex;
  flex-direction: column;
}
section .texcon .pro p {
  font-size: 24px;
  font-family: "jost";
  font-weight: 400;
  color: #fff;
}/*# sourceMappingURL=style.css.map */